{% extends 'django_template_limitless/base.html' %}
{% load static %}
{% load i18n %}

{% block customcss %}
{% endblock %}

{% block customjs %}
    <script src="{% static "global_assets/js/main/jquery.min.js" %}"></script>
    <script src="{% static "global_assets/js/plugins/tables/datatables/datatables.min.js" %}"></script>

    <script type="text/javascript" class="init">
        $(document).ready(function () {
            $('#all_tenants').DataTable({
                pageLength: 10,
                order: [[0, "asc"]]
            });
        });
    </script>
{% endblock %}

{% block heading-elements %}
    <br>
    <a href="/directory/tenant/register" class="btn bg-blue float-right mx-1">{% trans "Create Tenant" %}</a>
    <br><br><br>
{% endblock %}

{% block content %}
    <div class="card card-body shadow-lg">
        <table id="all_tenants" class="table table-striped table-bordered nowrap">
            <thead>
            <tr>
                <th>{% trans "Tenant Tag" %}</th>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Country" %}</th>
                <th>{% trans "Created At" %}</th>
                <th>{% trans "Edit" %}</th>
            </tr>
            </thead>
            <tbody>
            {% for tenant in all_tenants %}
                <tr>
                    <td>{{ tenant.companyCode }}</td>
                    <td>{{ tenant.companyName }}</td>
                    <td>{{ tenant.country }}</td>
                    <td>{{ tenant.created }}</td>
                    <td>{% trans "Edit" %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
