{% extends 'django_template_limitless/base.html' %}
{% load static %}
{% load i18n %}

{% block customcss %}
{% endblock %}

{% block customjs %}
    <script src="{% static "global_assets/js/main/jquery.min.js" %}"></script>
    <script src="{% static "global_assets/js/plugins/tables/datatables/datatables.min.js" %}"></script>

    <script type="text/javascript" class="init">
        $(document).ready(function () {
            $('#all_realms').DataTable({
                pageLength: 10,
                order: [[1, "asc"]]
            });
        });
        $(document).on('hidden', "#modal-content", function(){
            $("#modal-content").removeData("modal-content");
        });

        $(document).on('click', "a[data-toggle=modal]", function(){
            var target = $(this).attr("href");

            $.get(target, function(data){
                $("#modal-content").html(data);
                $("#modal-content").modal("show");
            });

            return false;
        });
    </script>
{% endblock %}

{% block heading-elements %}
{% endblock %}

{% block content %}
    <div class="card shadow-lg">
        <div class="card-header">
            <br>
            <h2 style="color:red">{% trans "BETA FEATURE" %}</h2>
            <p style="color:red">
                {% trans "During the BETA phase, realms can only be managed by the support staff." %}<br>
                {% trans "Please contact the customer support if you like to change settings." %}
            </p>
            <hr>
        </div>
        <div class="card-body">
            <table id="all_realms" class="table table-striped table-bordered nowrap">
                <thead>
                <tr>
                    <th>{% trans "ID" %}</th>
                    <th>{% trans "Domain" %}</th>
                    <th>{% trans "Domain Type" %}</th>
                    <th>{% trans "Is Default" %}</th>
                    <th>{% trans "Edit" %}</th>
                    <th>{% trans "Delete" %}</th>
                </tr>
                </thead>
                <tbody>
                {% for realm in all_realms %}
                    <tr>
                        <td>{{ realm.domainID }}</td>
                        <td>{{ realm.domain }}</td>
                        <td>{{ realm.domainType }}</td>
                        <td>{{ realm.isDefault }}</td>
                        <td><a href="/directory/realm/{{ realm.domain }}"><i class="icon-database-edit2"></i></a></td>
                        <td><a href="/directory/realm/{{ realm.domain }}/delete" data-toggle="modal"
                               data-target="#modal"><i
                                class="icon-trash"></i></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div id="modal-content" class="modal-content">
            </div>
        </div>
    </div>
{% endblock %}
