{% extends 'django_template_limitless/base.html' %}
{% load static %}
{% load i18n %}

{% block customcss %}
{% endblock %}

{% block customjs %}
    <script src="{% static "global_assets/js/main/jquery.min.js" %}"></script>
    <script src="{% static "global_assets/js/plugins/tables/datatables/datatables.min.js" %}"></script>

    <script type="text/javascript" class="init">
        $(document).ready(function () {
            $('#all_users').DataTable({
                pageLength: 10,
                order: [[1, "asc"]]
            });
        });
        $(document).on('hidden', "#modal-content", function(){
            $("#modal-content").removeData("modal-content");
        });

        $(document).on('click', "a[data-toggle=modal]", function(){
            var target = $(this).attr("href");

            $.get(target, function(data){
                $("#modal-content").html(data);
                $("#modal-content").modal("show");
            });

            return false;
        });
    </script>
{% endblock %}

{% block heading-elements %}
    <br>
    <a href="/directory/users/create" class="btn bg-blue float-right mx-1" data-toggle="modal" data-target="#modal">{% trans "New User" %}</a>
    <br><br><br>
{% endblock %}

{% block content %}
    <div class="card card-body shadow-lg">
        <table id="all_users" class="table table-striped table-bordered nowrap">
            <thead>
            <tr>
                <th>{% trans "Display Name" %}</th>
                <th>{% trans "sAMAccountName" %}</th>
                <th>{% trans "UPN" %}</th>
                <th>{% trans "E-Mail" %}</th>
                <th>{% trans "SID" %}</th>
                <th>{% trans "Groups" %}</th>
                <th>{% trans "Reset Password" %}</th>
                <th>{% trans "Edit" %}</th>
                <th>{% trans "Delete" %}</th>
            </tr>
            </thead>
            <tbody>
            {% for user in all_users %}
                <tr>
                    <td>{{ user.displayName.0 }}</td>
                    <td>{{ user.sAMAccountName.0 }}</td>
                    <td>{{ user.userPrincipalName.0 }}</td>
                    <td>{{ user.mail.0 }}</td>
                    <td>{{ user.X_SID }}</td>
                    <td><a href="/directory/user/{{ user.X_GUID }}/groups" data-toggle="modal" data-target="#modal"><i
                            class="icon-address-book"></i></a></td>
                    <td><a href="/directory/user/{{ user.X_GUID }}/reset-pw" data-toggle="modal" data-target="#modal"><i
                            class="icon-key"></i></a></td>
                    <td><a href="/directory/user/{{ user.X_GUID }}"><i class="icon-database-edit2"></i></a></td>
                    <td><a href="/directory/user/{{ user.X_GUID }}/delete" data-toggle="modal" data-target="#modal"><i
                            class="icon-trash"></i></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div id="modal-content" class="modal-content">
            </div>
        </div>
    </div>
{% endblock %}
