{% extends 'django_template_limitless/minimal_skeleton_with_css_js.html' %}
{% load static %}
{% load i18n %}

{% block customjs %}
    <script type="text/javascript" class="init">
        $("#modal-continue").on("click", function () {
            $("#api-form").submit();
        });
        document.getElementById("id_domain").insertAdjacentHTML('beforebegin',
    '<h5 class="align-content-center" style="margin-top: 6px">@</h5>');
    </script>
    <script>
    function concat_names(){
        document.getElementById("id_display_name").value = document.getElementById("id_first_name").value + " " +document.getElementById("id_last_name").value;
    }
    </script>
{% endblock %}

{% block content %}
    <!-- Modal -->
    <div class="modal-header">
        <h5 class="modal-title" id="modal-title">{{ content_title_main }} - {{ content_title_sub }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form action="{% url 'modal_users_create' %}" method="post" id="api-form">
            {% csrf_token %}
            <p>{% trans "Please enter the following information to create the new user." %}</p>
            <p>{% trans "Note that the username must be unique." %}</p>
            <div class="row">
                {{ directory_create_user_form }}
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Close" %}</button>
        <button id="modal-continue" type="button" class="btn btn-primary">{% trans "Create" %}</button>
    </div>
{% endblock %}
