{% extends 'django_template_limitless/minimal_skeleton_with_css_js.html' %}
{% load static %}
{% load i18n %}

{% block customjs %}
    <script type="text/javascript" class="init">
        $("#modal-continue").on("click", function () {
            $("#api-form").submit();
        });

        // Countdown
        var timeout = 5

        function countDown() {
            if (timeout == 0) {
                clearInterval(delete_timer)
                document.getElementById("modal-continue").disabled = false;
            } else {
                timeout--;
                document.getElementById("p_countdown").innerHTML = "Please wait " + timeout + " seconds before continuing.";
            }
        }

        var delete_timer = setInterval('countDown()', 1000);

    </script>
{% endblock %}

{% block content %}
    <!-- Modal -->
    <div class="modal-header">
        <h5 class="modal-title" id="modal-title">{{ content_title_main }} - {{ content_title_sub }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <h1 style="color:red;">{% translate "Data Loss Warning!" %}</h1>
        <ul>
            <li>{% translate "All data linked to this user will be erased." %}</li>
            <li>{% translate "If this user is using email, it's mailbox will be erased." %}</li>
            <li>{% translate "If this user is using fileshare, it's files will be erased." %}</li>
            <li>{% translate "This action can not be reversed, deletion is permanent." %}</li>
        </ul>

        <form action="{% url 'modal_user_delete' guid=X_GUID %}" method="post" id="api-form">
            {% csrf_token %}
            <table>
                {{ directory_user_delete_form.as_table }}
            </table>
        </form>

        <p id="p_countdown">{% translate "Please wait 5 seconds before continuing." %}</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button id="modal-continue" type="button" class="btn btn-primary" disabled>Continue</button>
    </div>
{% endblock %}
