{% extends 'django_template_limitless/minimal_skeleton_with_css_js.html' %}
{% load static %}
{% load i18n %}


{% block customjs %}
    <script type="text/javascript" class="init">
        $("#modal-continue").on("click", function () {
            $("#api-form").submit();
        });
    </script>
{% endblock %}

{% block content %}
    <!-- Modal -->
    <div class="modal-header">
        <h5 class="modal-title" id="modal-title">{{ content_title_main }} - {{ content_title_sub }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form action="{% url 'modal_computers_create' %}" method="post" id="api-form">
            {% csrf_token %}
            <table>
                {{ directory_create_computer_form.as_table }}
            </table>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Close" %}</button>
        <button id="modal-continue" type="button" class="btn btn-primary">{% trans "Create" %}</button>
    </div>
{% endblock %}
