{% extends 'django_template_limitless/minimal_skeleton_with_css_js.html' %}
{% load static %}
{% load i18n %}


{% block customjs %}
    <script src="{% static "global_assets/js/main/jquery.min.js" %}"></script>
    <script src="{% static "global_assets/js/plugins/media/cropper.min.js" %}"></script>
    <script type="text/javascript" class="init">
        $("#modal-continue").on("click", function () {
            document.getElementById("post-img").value = document.getElementById("image_result").cropper.getCroppedCanvas().toDataURL();
            $("#api-form").submit();
        });

        $('.container > img').cropper({
            aspectRatio: 1,
            zoomable: false,
            cropBoxResizable: false,
        });

        upload = document.querySelector('#file-input')
        upload.addEventListener('change', (e) => {
            if (e.target.files.length) {
                // start file reader
                const reader = new FileReader();
                reader.onload = (e) => {
                    if (e.target.result) {
                        document.getElementById("image_result").src = e.target.result
                        document.getElementById("image_result").cropper.replace(e.target.result)
                    }
                };
                reader.readAsDataURL(e.target.files[0]);
            }
        });
    </script>
{% endblock %}

{% block content %}
    <!-- Modal -->
    <div class="modal-header">
        <h5 class="modal-title" id="modal-title">{{ content_title_main }} - {{ content_title_sub }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form action="/directory/user_account/settings/change-profile-picture" method="post" id="api-form" enctype="multipart/form-data">{% csrf_token %}
            <input type="hidden" id="post-img">
        </form>
        <!-- Basic markup -->
        <div class="container mt-4" style="height: 500px">
            <img id="image_result" class="cropped" src="{{ image_path }}">
        </div>
        <div class="box">
            <input type="file" id="file-input">
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Close" %}</button>
        <button id="modal-continue" type="button" class="btn btn-primary">{% trans "Create" %}</button>
    </div>
{% endblock %}
