{% extends 'django_template_limitless/minimal_skeleton_with_css_js.html' %}
{% load static %}
{% load i18n %}

{% block customcss %}
    <link href="{% static "multi-select/css/multi-select.css" %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block customjs %}
    <script src="{% static "multi-select/js/jquery.multi-select.js" %}"></script>

    <script type="text/javascript" class="init">
        $("#modal-continue").on("click", function () {
            $("#api-form").submit();
        });
        $(document).ready(function () {
            $('#id_groups').multiSelect();
        });
    </script>
{% endblock %}

{% block content %}
    <!-- Modal -->
    <div class="modal-header">
        <h5 class="modal-title" id="modal-title">{{ content_title_main }} - {{ content_title_sub }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form action="{{ request.path }}" method="post" id="api-form">
            {% csrf_token %}
            <table>
                {{ computer_groups_form }}
            </table>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Close" %}</button>
        <button id="modal-continue" type="button" class="btn btn-primary">{% trans "Save" %}</button>
    </div>
{% endblock %}
