{% extends 'django_template_limitless/base.html' %}
{% load static %}
{% load i18n %}

{% block customcss %}
{% endblock %}

{% block customjs %}
    <script src="{% static "global_assets/js/main/jquery.min.js" %}"></script>
    <script src="{% static "global_assets/js/plugins/tables/datatables/datatables.min.js" %}"></script>

    <script type="text/javascript" class="init">
        $(document).ready(function () {
            $('#tenant_computer_attributes').DataTable({
                pageLength: 200,
                order: [[0, "asc"]]
            });
        });
    </script>
{% endblock %}

{% block heading-elements %}
{% endblock %}

{% block content %}
    <div class="card card-body shadow-lg">
        <table id="tenant_computer_attributes" class="table table-striped table-bordered nowrap">
            <thead>
            <tr>
                <th>{% trans "Attribute" %}</th>
                <th>{% trans "Value" %}</th>
            </tr>
            </thead>
            <tbody>
            {% for key, value in tenant_computer_attributes.items %}
                <tr>
                    {% if key == "X-GUID" or key == "X-SID" %}
                        <td>{{ key }}</td>
                        <td>{{ value }}</td>
                    {% else %}
                        <td>{{ key }}</td>
                        <td>{{ value|join:",<br>" }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
