{% load i18n %}
<p><b>{% trans "The new password needs to comply to the following policy" %}:</b></p>
<ul>
    <li>{% trans "Lowercase Letters" %}</li>
    <li>{% trans "Capital Letters" %}</li>
    <li>{% trans "Numbers" %}</li>
    <li>{% trans "Special Characters" %}</li>
    <li>{% trans "At least eigth characters" %}</li>
    <li>{% trans "Does not contain parts of the name or username" %}</li>
</ul>
