{% extends 'django_template_limitless/base.html' %}
{% load static %}
{% load i18n %}

{% block customcss %}
{% endblock %}

{% block customjs %}
    <script src="{% static "global_assets/js/main/jquery.min.js" %}"></script>
    <script type="text/javascript" class="init">
        $(document).on('click', "a[data-toggle=modal]", function () {
            var target = $(this).attr("href");

            $.get(target, function (data) {
                $("#modal-content").html(data);
                $("#modal-content").modal("show");
            });

            return false;
        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var password = document.getElementById("{{ directory_user_password_own_change_form.new_password.auto_id }}");
            var password2 = document.getElementById("{{ directory_user_password_own_change_form.new_password2.auto_id }}");
            $("#{{ directory_user_password_own_change_form.new_password2.auto_id }}").after("<div class='invalid-feedback'>Password does not match</div>")
            password.addEventListener('keyup', (event) => check_pw());
            password2.addEventListener('keyup', (event) => check_pw());

            function check_pw() {

                var pwd = password.value
                var pwd2 = password2.value

                /* Reset if password length is zero
                if (pwd.length === 0) {
                    document.getElementById("progresslabel").innerHTML = "";
                    document.getElementById("progress").value = "0";
                    return;
                }*/

                // Check progress
                var prog = [/[$@$!§%*#?&.,;:(){}/_-]/, /[A-Z]/, /[0-9]/, /[a-z]/]
                    .reduce((memo, test) => memo + test.test(pwd), 0);

                // Length must be at least 8 chars
                if (prog > 2 && pwd.length > 7) {
                    prog++;
                }

                document.getElementById("password_change_submit").disabled = true

                // Display it
                var progress = "";
                var strength = "";
                switch (prog) {
                    case 0:
                    case 1:
                        strength = "0%";
                        progress = "5%";
                        break;
                    case 2:
                        strength = "25%";
                        progress = "25%";
                        break;
                    case 3:
                        strength = "50%";
                        progress = "50%";
                        break;
                    case 4:
                        strength = "75%";
                        progress = "75%";
                        break;
                    case 5:
                        strength = "100% - Password strength is good";
                        progress = "100%";
                        document.getElementById("password_change_submit").disabled = false
                        break;
                }
                var pw_field = $("#{{ directory_user_password_own_change_form.new_password2.auto_id }}")
                if (pwd === pwd2 && prog === 5) {
                    pw_field.removeClass("is-invalid");
                    document.getElementById("password_change_submit").disabled = false
                } else {
                    pw_field.addClass("is-invalid");
                    document.getElementById("password_change_submit").disabled = true
                }
                document.getElementById("progress").innerHTML = strength;
                document.getElementById("progress").style.width = progress;

            }
        });
    </script>
{% endblock %}

{% block heading-elements %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-6 col-xl-7">
            <div class="card shadow">
                <div class="card-body">
                    <h2>{% trans "Profile Information" %}</h2>
                    <form class="form-check">
                        <div class="row">
                            {{ directory_user_profile_information_form }}
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-xl-3">
            <div class="card shadow">
                <div class="card-body">
                    <h2>{% trans "Change Password" %}</h2>
                    {% include "django_cloud_panel_directory/static_password_policy.html" %}
                    <form action="/directory/user_account/settings" method="post">
                        <div class="card-body">
                            {% csrf_token %}
                            {{ directory_user_password_own_change_form }}
                            <br>
                            <b class="mb-3">{% trans "new password quality" %}</b><br>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary"
                                     id="progress"
                                     role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                                     style="width: 0%"></div>
                            </div>
                            <br>
                            <input id="password_change_submit" class="form-control btn btn-primary" type="submit"
                                   value="{% trans "change password" %}" disabled>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-xl-2">
            <div class="card bg-secondary shadow">
                <div class="card-body">
                    <h2>{% trans "Profile Picture" %}</h2>
                    <p>{% trans "click the picture to change" %}</p>
                    <div class="col-lg-8 card-img-actions">
                        <img class="rounded-circle img-fluid" alt=""
                             src={% static "global_assets/images/placeholders/user.jpg" %}>
                        <div class="card-img-actions-overlay rounded-circle">
                            <a href="/directory/user_account/settings/change-profile-picture"
                               class="btn btn-outline-white border-2 btn-icon rounded-pill" data-toggle="modal"
                               data-target="#modal">
                                <i class="icon-upload4"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div id="modal-content" class="modal-content">
            </div>
        </div>
    </div>
{% endblock %}
